/* CSS for the general style related properties of the pokedex */

.pokemons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.pokemon {
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    text-align: right;
    font-size: 0.8rem;
}

.pokemon .detail .types {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    padding-right: 5px;
}

.pokemon .detail .types .type {
    border-radius: 15px;
    color: white;
    padding: 0.125rem 0.25rem;
    font-size: 0.625rem;
    margin: 0.3rem 0;
    text-align: center;
}
.pokemon .poke_name {
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.pokemon .poke_name::after
{
  content: '';
  height: 7px;
  background: black;
  opacity: 0.7;
  border-radius: 5px;
  display: block
}
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    justify-content: space-evenly;
}
.pokemon .detail img {
    border-style: none;
    max-width: 90px;
    margin-left: auto;
    height: 90px;
    align-self: flex-end;
    transform: scalex(-1);
}

.type {
    text-transform: capitalize;
}

@media screen and (min-width:380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    
}

@media screen and (min-width:576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
    }
    
}
@media screen and (min-width:992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
    }
    
}

.button_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#next_page {
    background-color: #3366b0;
    color: white;
    padding: 15px;
    border: 20px;
    border-radius: 20px;
    margin: 0.3rem 0;
}

.tpk {
    max-width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}